{% extends "home.html" %}
{% block title %}
<title>blog</title>
{% endblock title %}
{% block body %}
<h1>Blog page</h1>
<form method="POST" action="/postblog">
    <div class="container">
        <!-- Flash messages block -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="title">

    </div>

    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="author">
  
      </div>

    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" name="content" id="content"  rows="3"></textarea>

    </div>

    <button type="submit" class="btn btn-primary">post</button>
  </form>


{% endblock body %}